.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cbf3a3;
  border-radius: 1rem;
  padding: 2rem;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0 0.5rem 2rem rgba(100, 100, 100, 0.25);
  min-width: 320px;
}

.photo {
  border-radius: 100%;
}
